<footer class="site-footer">

	<div class="wrapper">

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-3">
				<ul>
					<li class="bottom-nav-text"><a href="{{ site.baseurl }}/about">About &raquo; </a></li>
					<li class="bottom-nav-text"><a href="{{ site.baseurl }}/books">Books &raquo; </a></li>
					<li class="bottom-nav-text"><a href="{{ site.baseurl }}/recipes">Recipes &raquo; </a></li>
					<li class="bottom-nav-text"><a href="{{ site.baseurl }}/table-of-contents">Archive &raquo; </a></li>
				</ul>			
			</div>

			<div class="footer-col footer-col-9">
				{% include icon-github.html username=site.github_username %}
				{% include icon-instagram.html username=site.instagram_username %}
				{% include icon-twitter.html username=site.twitter_username %}
				{% include icon-linkedin.html username=site.linkedin_username %}
			</div>
		</div>

	</div>

</footer>
