<header class="site-header">

	<div class="wrapper">

		<div>
			<img class="profile-pic" src="{{ site.baseurl }}/assets/Avatar.jpg">
		</div>

		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

	</div>

	<div class="social-media-bar">
		{% include icon-github.html username=site.github_username hide='hide' %}
		{% include icon-instagram.html username=site.instagram_username hide='hide' %}
		{% include icon-twitter.html username=site.twitter_username hide='hide' %}
	</div>
</header>
